div(ng-include='"components/navbar/navbar.html"')

.container.searchbar
  .row
    .form-group.col-sm-8.col-md-9.col-lg-10
      input.form-control(placeholder="Busca entre los centros",ng-model="searchform")
    .col-sm-4.col-md-3.col-lg-2
      button.btn.btn-block.btn-danger(type="button",ng-click="showNew()") NUEVO CENTRO

.container.searchlist.userlist
  .row

    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                // img.img(src="../assets/images/user-1.jpg",alt="Andrea Santos")
                .glyphicon.glyphicon-record
            .col-xs-8
              h4 Coslada
              p coslada@amplifon.es

        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Dr. Fleming, 22 (Coslada)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 24
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 84%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 196.100,00€

        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                // img.img(src="../assets/images/user-3.jpg",alt="Marco Barrios")
                .glyphicon.glyphicon-record
            .col-xs-8
              h4 Fuenlabrada
              p fuenlabrada@amplifon.es
        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Leganés, 21 (Fuenlabrada)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 21
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 90%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 172.500,00€

        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                // img.img(src="../assets/images/user-2.jpg",alt="Elena Álvarez")
                .glyphicon.glyphicon-record
            .col-xs-8
              h4 Alcorcón
              p alcorcon@amplifon.es

        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Mingo Fraile, 14 (Alcorcón)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 18
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 88%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 152.800,00€

        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                // img.img(src="../assets/images/user-4.jpg",alt="Andrés Tejero")
                .glyphicon.glyphicon-record
            .col-xs-8
              h4 Madrid
              p madrid@amplifon.es
        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Seseña, 72 (Madrid)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 28
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 88%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 224.900,00€
        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil

    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                // img.img(src="../assets/images/user-5.jpg",alt="Manuel Castán")
                .glyphicon.glyphicon-record
            .col-xs-8
              h4 Móstoles
              p mostoles@amplifon.es
        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p Av. Constitución, 2 (Móstoles)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 16
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 90%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 134.700,00€
        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


// .container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash.pull-right
