div(ng-include='"components/navbar/navbar.html"')

.container.searchbar
  .row
    .form-group.col-sm-8.col-md-9.col-lg-10
      input.form-control(placeholder="Busca entre los usuarios",ng-model="searchform")
    .col-sm-4.col-md-3.col-lg-2
      button.btn.btn-block.btn-danger(type="button",ng-click="showNew()") NUEVO USUARIO

.container.searchlist.userlist
  .row

    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                img.img(src="../assets/images/user-1.jpg",alt="Andrea Santos")
            .col-xs-8
              h4 Andrea Santos
              p asantos@amplifon.es

        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Mayor, 21 (Alcorcón)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 24
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 84%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 196.100€

        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                img.img(src="../assets/images/user-3.jpg",alt="Marco Barrios")
            .col-xs-8
              h4 Marco Barrios
              p mbarrios@amplifon.es
        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Seseña, 72 (Madrid)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 21
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 90%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 172.500€

        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                img.img(src="../assets/images/user-2.jpg",alt="Elena Álvarez")
            .col-xs-8
              h4 Elena Álvarez
              p ealvarez@amplifon.es

        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Mayor, 21 (Alcorcón)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 18
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 88%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 152.800€

        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                img.img(src="../assets/images/user-4.jpg",alt="Andrés Tejero")
            .col-xs-8
              h4 Andrés Tejero
              p atejero@amplifon.es
        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Seseña, 72 (Madrid)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 28
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 88%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 224.900€
        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil

    .col-sm-6.col-md-4.col-lg-3
      .panel
        .panel-heading
          .row
            .col-xs-4
              .img-circle
                img.img(src="../assets/images/user-5.jpg",alt="Manuel Castán")
            .col-xs-8
              h4 Manuel Castán
              p mcastan@amplifon.es
        .panel-body
          .row
            .col-xs-4
              p
                b Centro:
            .col-xs-8
              p C/ Mayor, 21 (Alcorcón)
          .row
            .col-xs-4
              p
                b Operaciones:
            .col-xs-8
              p 16
          .row
            .col-xs-4
              p
                b Autorizadas:
            .col-xs-8
              p 90%
          .row
            .col-xs-4
              p.nomar
                b Volumen:
            .col-xs-8
              p.nomar
                span 134.700€
        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteUser(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="deactivateUser(record)")
                span.glyphicon.glyphicon-ban-circle
              .click(ng-click="editUser(record)")
                span.glyphicon.glyphicon-pencil


// .container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash.pull-right
