div(ng-include='"components/navbar/navbar.html"')
.container.searchbar
  .row

    .col-xs-12
      .panel
        .panel-body
          p Operación 1

    .col-xs-12
      .panel
        .panel-body
          p Operación 2
