div(ng-include='"components/navbar/navbar.html"')

.container.searchbar
  .row
    .form-group.col-sm-8.col-md-9.col-lg-10
      select.form-control(ng-model="productType")
        option(value="SIN") SIN INTERESES
        option(value="CON") CON INTERESES
        option(value="HIBRIDO") HÍBRIDO
    .col-sm-4.col-md-3.col-lg-2
      button.btn.btn-block.btn-danger(type="button",ng-click="showNew()") NUEVO PRODUCTO

.container.searchlist.productlist
  .row

    .col-sm-6.col-md-4.col-lg-3(ng-repeat="product in productList | filter:{ type: productType }")
      .panel
        .panel-heading
          .col-xs-6
            p.term(ng-hide="product.type === 'HIBRIDO'") <span>{{product.type}}</span><br>INTERESES
            p.term(ng-show="product.type === 'HIBRIDO'") <span>{{product.type}}</span>
          .col-xs-6
            p.term <span>{{product.term}}</span><br>MESES

          // p.type(ng-hide="product.type === 'HIBRIDO'") <span>{{product.term}}</span> meses - <span>{{product.type}}</span> intereses
          // p.type(ng-show="product.type === 'HIBRIDO'") <span>{{product.term}}</span> meses - <span>{{product.type}}
        .panel-body
          .panel-50.left
            p.interest <span>{{product.interest}}%</span> T.I.N.
            p.interest <span>{{product.discount}}%</span> descuento
          .panel-50.right
            p.discount <span>{{product.open}}%</span> apertura
            p.discount <span>{{product.close}}%</span> cancelación
            p.interest <span>{{product.commission}}%</span> comisión
        .panel-footer
          .row
            .col-xs-12
              .click(ng-click="deleteProduct(record.name,record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="edit(record);")
                span.glyphicon.glyphicon-pencil
