div(ng-include='"components/navbar/navbar.html"')

.container.newform
  .row
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .panel
        .panel-heading
          h3 Nuevo Producto Financiero
        .panel-body
          form.form-horizontal
            .form-group
              label.col-sm-4.control-label(for="type") Tipología
              .col-sm-8
                select#type.form-control(placeholder="Familia del Producto")
                  option(value="free") Sin Intereses
                  option(value="interest",selected) Con Intereses
                  option(value="hybrid") Híbrido
            .form-group
              label.col-sm-4.control-label(for="term") Plazo
              .col-sm-8
                input#term.form-control(type="number", placeholder="Plazo (meses)", value="12")
            .form-group
              label.col-sm-4.control-label(for="interest") Interés
              .col-sm-8
                input#interest.form-control(type="number", placeholder="Tipo de interés nominal (%)", value="16")
            hr
            .form-group.conditions
              label.col-sm-4.control-label Fracciona
              .col-sm-8
                p.mtop-7.mbot-0 1.5% comisión
                p.nomar 0% gastos apertura
                p.nomar 0.5% gastos cancelación
                p.nomar 0% descuento
                p.nomar.alright
                  span  editar
                  |  -
                  span  eliminar
            hr
            .form-group.conditions
              label.col-sm-4.control-label Popular SerFin
              .col-sm-8
                p.mtop-7.mbot-0 1.8% comisión
                p.nomar 0% gastos apertura
                p.nomar 0.5% gastos cancelación
                p.nomar 0% descuento
                p.nomar.alright
                  span  editar
                  |  -
                  span  eliminar
            hr
            .form-group
              label.col-sm-4.control-label(for="entity") Nueva Entidad
              .col-sm-8
                select#entity.form-control(placeholder="Entidad")
                  option(value="fracciona") Fracciona
                  option(value="serfin") Popular SerFin
                  option(value="cetelem",selected) Cetelem
            .form-group
              label.col-sm-4.control-label(for="commission") Comisión
              .col-sm-8
                input#commission.form-control(type="number", placeholder="Comisión (%)")
            .form-group
              label.col-sm-4.control-label(for="open") Apertura
              .col-sm-8
                input#open.form-control(type="number", placeholder="Gastos de apertura (%)")
            .form-group
              label.col-sm-4.control-label(for="close") Cancelación
              .col-sm-8
                input#close.form-control(type="number", placeholder="Gastos de cancelación (%)")
            .form-group
              label.col-sm-4.control-label(for="discount") Descuento
              .col-sm-8
                input#discount.form-control(type="number", placeholder="Descuento (%)")
            // .form-group
              label.col-sm-4.control-label(for="age") Edad Máx.
              .col-sm-8
                input#age.form-control(type="number", placeholder="Edad máxima (años)")
            // .form-group
              label.col-sm-4.control-label(for="amount") Importe
              .col-sm-4
                input#amountmin.form-control(type="number", placeholder="Mínimo (€)")
              .col-sm-4
                input#amountmax.form-control(type="number", placeholder="Máximo (€)")
            .form-group
              .col-sm-8.col-sm-offset-4
                button.btn.btn-default.btn-block(ng-click="addEntity()")
                  span.glyphicon.glyphicon-plus
                  |  Añadir Entidad

            // .form-group
              label.col-sm-4.control-label(for="entities") Entidades
              .col-sm-8
                .checkbox
                  label Fracciona
                    input(type="checkbox")
                .checkbox
                  label Popular SerFin
                    input(type="checkbox")
                .checkbox
                  label Cetelem
                    input(type="checkbox")
            hr

            .form-group.nomar
                    .col-xs-12
                      button.btn.btn-danger(ng-click="back()") Guardar
                      button.btn.btn-default(ng-click="back()") Cancelar
