$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'variables';
@import 'mixins';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,body{
  margin: 0;
  top: 0;
  bottom: 0;
  background-color: $main-bg;
}

div{
  background-repeat: no-repeat;
  background-position: center center;
}

.alright{
  text-align: right;
}

.mbot-15{
  margin-bottom: 15px;
}

.nomar{
  margin: 0;
}

p.nomar{
  margin: 0 !important;
}

/* Material Design */

select.form-control,input.form-control,select.form-control:focus,input.form-control:focus{
  height: 36px;
}

.navbar.navbar{
  background: $navbar-bg;
  color: $main-txt;
  .btn{
    margin:0;
  }
}

.navbar .navbar-nav > li > a{
  padding-top: 20px;
}

.nav > li > a{
  padding-right: 0;
  &.action{
    padding-left: 0;
    padding-right: 15px;
  }
}

.navbar .navbar-text{
  margin: 15px;
}

input.form-control{
  padding: 6px 12px !important;
}

select.form-control{
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type="file"].form-control{
  padding: 7px 0 !important;
  border: none;
  box-shadow: none;
}

.panel{
  @include border-radius(0);
}

.panel-50{
  width: 50%;
  float: left;
}

.panel > .panel-heading,.panel > .panel-footer, .panel > .panel-body{
  background-color: $box-bg;
}

.panel-heading{
  border-bottom: $box-border;
}

.logincard{
  margin: 60px auto;
  text-align: center;

  hr{
    margin: 20px 0;
  }
}

.searchbar{
  margin-top: 60px;
  input{
    margin-top: 10px;
  }
  input, input:focus{
    height: 36px;
  }
}

.newform {
  margin-top: 70px;
  margin-bottom: 60px;

  h3{
    text-align: center;
    margin: 10px 0;
    color: $brand-amplifon;
  }

  .panel{
    border: $box-border;
  }

  label{
    background-color: $box-bg;
    color: $main-txt;
  }
  .panel-body{
    padding: 20px 15px;
    .btn{
      float: right;
      margin: 10px 0 0 10px;
    }
  }
  .checkbox{
    label{
      font-weight: 300;
      padding-left: 25px;
    }
    input{
      width: 16px;
      height: 16px;
      opacity: 1;
      z-index: 10;
      margin: 3px 0 0;
    }
  }
}

.searchlist{
  margin-top: 30px;
  margin-bottom: 60px;

  .panel-footer{
    padding: 0;
    border-top: $box-border;
    p{
      font-size: 12px;
      color: $light-txt;
      padding: 6px 15px 0;
    }
    span.glyphicon{
      float: right;
      border-left: $box-border;
      color: #aaa;
      padding: 8px;
      margin-top: -1px;
    }
    span.glyphicon:hover{
      cursor: pointer;
      background-color: $main-bg;
    }
  }
}

.operationlist{
  p b{
    color: $brand-amplifon;
  }
  .panel{
    border: $box-border;
    margin-bottom: 15px;
  }
  p{
    font-size: 14px;
    margin-bottom: 0;
    span{
      color: $home-primary;
    }
  }
  .denied > .panel-heading,.denied > .panel-footer, .denied > .panel-body{
    background-color: $main-bg;
    p span{
      // color: $brand-amplifon;
    }
  }
}

.productlist{
  .panel{
    height: auto;
    overflow: hidden;
    border: $box-border;
    text-align: center;
  }

  .panel-heading{
    padding: 0 15px;
  }

  .panel-body{
    padding: 0;
    background-color: $main-bg;
    color: $light-txt;
  }

  .left, .right{
    padding: 5px 15px;
  }

  .right{
    border-left: $box-border;
  }

  p{
    margin: 0;
  }

  .term{
    font-size: 20px;
    span{
      font-size: 52px;
      color: $brand-amplifon;
    }
  }
  .interest, .discount{
    padding: 5px 0;
    font-size: 14px;
    span{
      font-size: 18px;
    }
  }
}

.userlist{
  .panel-heading{
    .img-circle{
      // background-color: $main-bg;
      background-color: #eee;
      width: 70px;
      height: 70px;
      @include border-radius(35px);
      padding: 3px;
    }
    .img{
      width: 64px;
      height: 64px;
      @include border-radius(32px);
      // border: 2px solid $brand-amplifon;
    }
    h4{
      margin: 15px 0 0;
    }
    p{
      color: $brand-amplifon;
    }
  }
  .panel-body{
    p{
      font-size: 12px;
      margin-bottom: 5px;
    }
    span{
      color: $home-primary;
    }
  }
}

.progress,.progress-bar{
  height: 24px;
}

.progress-bar{
  padding: 2px 0;
}


/* Brand */

.navbar-logo{
  background-image: url("../assets/images/amplifon-logo.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.login-logo{
  background-image: url("../assets/images/amplifon-banner.png");
  background-size: contain;
  height: 60px;
}

.btn-danger:not(.btn-link):not(.btn-flat){
  background-color: $brand-amplifon;
}

// Component styles are injected through grunt
// injector
@import '_mixins.scss';
@import '_variables.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'new-operation/new-operation.scss';
@import 'new-product/new-product.scss';
@import 'new-user/new-user.scss';
@import 'operations/operations.scss';
@import 'products/products.scss';
@import 'users/users.scss';
@import 'modal/modal.scss';
// endinjector
