$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'variables';
@import 'mixins';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,body{
  margin: 0;
  top: 0;
  bottom: 0;
  background-color: $main-bg;
}

div{
  background-repeat: no-repeat;
  background-position: center center;
}

/* Material Design */

.navbar.navbar{
  background: $navbar-bg;
  color: $main-txt;
  a.action{
    padding-left: 0;
  }
}

.navbar .navbar-text{
  margin: 15px;
}

input{
  padding: 6px 12px !important;
}

.panel{
  @include border-radius(0);
}

.panel > .panel-heading,.panel > .panel-footer, .panel > .panel-body{
  background-color: $box-bg;
}

.panel-heading{
  border-bottom: $box-border;
}

.logincard{
  margin: 60px auto;
  text-align: center;

  hr{
    margin: 20px 0;
  }
}


/* Brand */

.navbar-logo{
  background-image: url("../assets/images/amplifon-logo.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.login-logo{
  background-image: url("../assets/images/amplifon-banner.png");
  background-size: contain;
  height: 60px;
}

// Component styles are injected through grunt
// injector
@import '_mixins.scss';
@import '_variables.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'new-operation/new-operation.scss';
@import 'operations/operations.scss';
@import 'products/products.scss';
@import 'users/users.scss';
@import 'modal/modal.scss';
// endinjector
