div(ng-include='"components/navbar/navbar.html"')

.container.main
  .row
    .col-sm-8.col-sm-offset-2
      .col-sm-6
        a.btn.btn-block.btn-danger(ng-href="/new-operation") NUEVA OPERACIÓN
      .col-sm-6
        a.btn.btn-block.btn-danger(ng-href="/operations") OPERACIONES
      .col-sm-6
        a.btn.btn-block.btn-danger(ng-href="/products") PRODUCTOS
      .col-sm-6
        a.btn.btn-block.btn-danger(ng-href="/entities") ENTIDADES
      .col-sm-6
        a.btn.btn-block.btn-danger(ng-href="/users") CENTROS
      .col-sm-6
        a.btn.btn-block.btn-danger(ng-href="/stats") ESTADÍSTICAS
