div(ng-include='"components/navbar/navbar.html"')

.container.searchbar
  .row
    .form-group.col-sm-8.col-md-9.col-lg-10
      input.form-control(placeholder="Busca entre tus operaciones",ng-model="searchform")
    .col-sm-4.col-md-3.col-lg-2
      button.btn.btn-block.btn-danger(type="button",ng-click="showNew()") NUEVA OPERACIÓN

