div(ng-include='"components/navbar/navbar.html"')

.container.searchbar
  .row
    .form-group.col-sm-8.col-md-9.col-lg-10
      input.form-control(placeholder="Busca entre las operaciones",ng-model="searchform")
    .col-sm-4.col-md-3.col-lg-2
      button.btn.btn-block.btn-danger(type="button",ng-click="showNew()") NUEVA OPERACIÓN

.container.searchlist.operationlist
  .row

    .col-xs-12
      .panel
        .panel-body
          .row
            .col-md-4
              p
                b ES-2015-005435
              p Mª Isabel Castillo Ribera - 011233832A
            .col-md-2
              p 21-04-2015
            .col-md-2
              p.product CON <b>24</b>
              p 6% TIN - 24 meses
            .col-md-2
              p.alright Borrador
            .col-md-2
              p.alright
                span 8.200,00€
        .panel-footer
          .row
            .col-xs-7
              p Coslada
            .col-xs-5
              .click(ng-click="delete(record)")
                span.glyphicon.glyphicon-trash
              .click(ng-click="edit(record)")
                span.glyphicon.glyphicon-pencil
              // .click(ng-click="view(record)")
                span.glyphicon.glyphicon-eye-open

    .col-xs-12
      .panel
        .panel-body
          .row
            .col-md-4
              p
                b ES-2015-005434
              p Danilo Márquez Carreras - X23494432
            .col-md-2
              p 21-04-2015
            .col-md-2
              p.product SIN <b>12</b>
              p 0% TIN - 12 meses
            .col-md-2
              p.alright Pendiente Comercio
            .col-md-2
              p.alright
                span 9.000,00€
        .panel-footer
          .row
            .col-xs-7
              p Madrid
            .col-xs-5
              .click(ng-click="delete(record)")
                span.glyphicon.glyphicon-remove
              .click(ng-click="view(record)")
                span.glyphicon.glyphicon-eye-open

    .col-xs-12
      .panel.denied
        .panel-body
          .row
            .col-md-4
              p
                b ES-2015-005433
              p Edgar Santos Castaneda - X23494432
            .col-md-2
              p 20-04-2015
            .col-md-2
              p.product CON <b>36</b>
              p 6% TIN - 36 meses
            .col-md-2
              p.alright Rechazada
            .col-md-2
              p.alright
                span 8.600,00€
        .panel-footer
          .row
            .col-xs-7
              p Madrid
            .col-xs-5
              .click(ng-click="delete(record)")
                span.glyphicon.glyphicon-save
              .click(ng-click="view(record)")
                span.glyphicon.glyphicon-eye-open


    .col-xs-12
      .panel
        .panel-body
          .row
            .col-md-4
              p
                b ES-2015-005432
              p Javier Martínez Yagüe - X23354321
            .col-md-2
              p 20-04-2015
            .col-md-2
              p.product SIN <b>12</b>
              p 0% TIN - 12 meses
            .col-md-2
              p.alright Evaluada
              p.alright Fracciona
            .col-md-2
              p.alright
                span 8.200,00€

        .panel-footer
          .row
            .col-xs-7
              p Alcorcón
            .col-xs-5
              // .click(ng-click="delete(record)")
                span.glyphicon.glyphicon-save
              .click(ng-click="download(record)")
                span.glyphicon.glyphicon-file
              .click(ng-click="view(record)")
                span.glyphicon.glyphicon-eye-open


    .col-xs-12
      .panel
        .panel-body
          .row
            .col-md-4
              p
                b ES-2015-005431
              p Isabel Solans Calvo - 32209123A
            .col-md-2
              p 20-04-2015
            .col-md-2
              p.product CON <b>24</b>
              p 6% TIN - 24 meses
            .col-md-2
              p.alright Autorizada
              p.alright Popular SerFin
            .col-md-2
              p.alright
                span 8.500,00€
        .panel-footer
          .row
            .col-xs-7
              p Madrid
            .col-xs-5
              // .click(ng-click="delete(record)")
                span.glyphicon.glyphicon-save
              .click(ng-click="download(record)")
                span.glyphicon.glyphicon-file
              .click(ng-click="view(record)")
                span.glyphicon.glyphicon-eye-open
